
<!-- header-->
<header class="main-header">
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo/1.png" class="logo">
        </a>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon" id="menu-icon">
        <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-links">
        <li class="nav-link">
            <a asp-area="" asp-controller="Home" asp-action="Index">Главная</></a>
        </li>
        <li class="nav-link">
            <a asp-area="" asp-controller="Home" asp-action="Products">Товары</a>
        </li>
        <li class="nav-link">
            <a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a>
        </li>
        <li class="nav-link">
            <a asp-area="" asp-controller="Home" asp-action="About">Про нас</a>
        </li>
    </ul>

    <partial name="_LoginPartial">
</header>