@media screen and (max-width: 767px) {
  .main-header #menu-icon {
    display: block; }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vw;
    font-size: 2vw;
    color: #fff;
    background: #272727;
    transition: opacity .8s .5s, clip-path 1s .5s;
    clip-path: circle(0px at top right); }
    .main-header .nav-links .nav-link {
      opacity: 0;
      transform: translateX(100%); }
      .main-header .nav-links .nav-link a {
        display: block;
        padding: 2rem 0; }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center); }
    .main-header .menu-btn:checked ~ .nav-links .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .container #container-title {
    font-size: 30px;
    margin-top: 20px; }
  .container #container-paragraf {
    font-size: 14px; }
  .container #container-img {
    height: 250px; }
  .offer #offer-title {
    font-size: 30px;
    margin-top: 20px; }
  .offer #offer-paragraf {
    font-size: 14px; }
  .offer #offer-img {
    height: 300px; } }
