.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }
  .small-container .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555; }
    .small-container .title::after {
      content: '';
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .small-container .row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .small-container .row .col-4 {
      flex-basis: 22%;
      padding: 10px;
      min-width: 150px;
      margin-bottom: 50px;
      transition: transform 0.5s; }
      .small-container .row .col-4:hover {
        transform: translateY(-5px); }
      .small-container .row .col-4 a {
        padding: 5px 0px 5px 0px;
        text-decoration: none; }
      .small-container .row .col-4 img {
        padding: 5px 0px 5px 0px;
        width: 100%; }
      .small-container .row .col-4 h4 {
        padding: 5px 0px 5px 0px;
        color: #555;
        font-weight: normal; }
      .small-container .row .col-4 p {
        padding: 5px 0px 5px 0px;
        font-size: 14px;
        cursor: default; }
      .small-container .row .col-4 .rating {
        padding: 5px 0px 5px 0px; }
        .small-container .row .col-4 .rating .fa {
          color: #ff523b;
          cursor: pointer; }
      .small-container .row .col-4 .order-btn {
        padding: 5px 0px 5px 0px;
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        padding-top: 10px;
        color: #ff523b;
        text-align: center;
        background-color: black;
        border: solid 2px white;
        border-radius: 8px; }
