@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif; }

.buy-block {
  max-width: 1400px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center; }
  .buy-block form h3 {
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px; }
  .buy-block form p {
    padding: 5px 0px 5px 0px;
    display: block;
    width: 100%;
    text-align: center; }
  .buy-block form input {
    width: 150px; }
  .buy-block form #submit-order {
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: red; }

.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 8vw;
  padding-bottom: 20px;
  color: #000;
  z-index: 1;
  top: 0; }
  .main-header .logo {
    margin-top: 10px;
    width: 100px;
    height: 60px; }
  .main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase; }
  .main-header .nav-links {
    display: flex;
    list-style: none; }
    .main-header .nav-links .nav-link a {
      margin: .2rem;
      padding: 1rem .5rem; }
      .main-header .nav-links .nav-link a:hover {
        background: rgba(255, 255, 255, 0.2); }
  .main-header .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none; }
    .main-header .menu-icon__line {
      display: block;
      position: relative;
      background: #000;
      height: 2px;
      width: 20px;
      border-radius: 4px; }
      .main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #000; }
      .main-header .menu-icon__line::before {
        transform: translateY(-5px); }
      .main-header .menu-icon__line::after {
        transform: translateY(5px); }
  .main-header .menu-btn {
    display: none; }
  .main-header.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff; }
    .main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
      background: #fff; }

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px; }
  .footer .container {
    max-width: 1300px;
    padding-right: 25px;
    padding-left: 25px;
    margin: auto;
    background: #000; }
    .footer .container hr {
      background: #b5b5b5;
      border: none;
      height: 1px;
      margin: 20px 0; }
    .footer .container .Copyright {
      text-align: center; }
    .footer .container .row {
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; }
      .footer .container .row p {
        color: #8a8a8a; }
      .footer .container .row h3 {
        color: #fff;
        margin-bottom: 20px; }
      .footer .container .row a {
        text-decoration: none;
        color: #8a8a8a; }
      .footer .container .row .footer-col-1, .footer .container .row .footer.col-2, .footer .container .row .footer-col-3, .footer .container .row .footer-col-4 {
        min-width: 250px;
        margin-bottom: 20px; }
      .footer .container .row .footer-col-1 {
        flex-basis: 30%; }
        .footer .container .row .footer-col-1 img {
          width: 140px;
          height: 60px; }
      .footer .container .row .footer-col-2 {
        flex: 1;
        text-align: center; }
        .footer .container .row .footer-col-2 img {
          width: 100px;
          height: 80px;
          margin-bottom: 20px; }
      .footer .container .row .footer-col-3, .footer .container .row .footer-col-4 {
        flex-basis: 12%;
        text-align: center; }
        .footer .container .row .footer-col-3 ul, .footer .container .row .footer-col-4 ul {
          list-style-type: none; }

@media screen and (max-width: 767px) {
  .main-header #menu-icon {
    display: block; }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vw;
    font-size: 2vw;
    color: #fff;
    background: #272727;
    transition: opacity .8s .5s, clip-path 1s .5s;
    clip-path: circle(0px at top right); }
    .main-header .nav-links .nav-link {
      opacity: 0;
      transform: translateX(100%); }
      .main-header .nav-links .nav-link a {
        display: block;
        padding: 2rem 0; }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center); }
    .main-header .menu-btn:checked ~ .nav-links .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .container #container-title {
    font-size: 30px;
    margin-top: 20px; }
  .container #container-paragraf {
    font-size: 14px; }
  .container #container-img {
    height: 250px; }
  .offer #offer-title {
    font-size: 30px;
    margin-top: 20px; }
  .offer #offer-paragraf {
    font-size: 14px; }
  .offer #offer-img {
    height: 300px; } }

.categories {
  margin: 70px 0; }
  .categories .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .categories .small-container .row {
      margin-top: 70px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; }
      .categories .small-container .row .col-3 {
        flex-basis: 30%;
        min-width: 150px;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px; }
        .categories .small-container .row .col-3 img {
          width: 100%; }

.container {
  background: radial-gradient(#fff, #ffd6d6);
  max-width: 1400px;
  padding-right: 25px;
  padding-left: 25px;
  margin: auto; }
  .container .row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .container .row .col-2 {
      flex-basis: 50%;
      min-width: 400px; }
      .container .row .col-2 img {
        max-width: 100%;
        padding: 50px 0; }
      .container .row .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0; }
      .container .row .col-2 .btn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s; }
        .container .row .col-2 .btn:hover {
          background: #563434; }

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
  margin: auto;
  max-width: 1400px; }
  .offer .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .offer .small-container .row {
      margin-top: 70px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; }
      .offer .small-container .row .col-2 {
        flex-basis: 50%;
        min-width: 400px; }
        .offer .small-container .row .col-2 img {
          max-width: 100%;
          padding: 50px; }
        .offer .small-container .row .col-2 p {
          cursor: default; }
        .offer .small-container .row .col-2 h1 {
          font-size: 50px;
          line-height: 60px;
          margin: 25px 0;
          cursor: default; }
        .offer .small-container .row .col-2 small {
          display: block;
          width: 100%;
          color: #555;
          cursor: default; }
        .offer .small-container .row .col-2 .btn {
          display: inline-block;
          background: #ff523b;
          color: #fff;
          padding: 8px 30px;
          margin: 30px 0;
          border-radius: 30px;
          transition: background 0.5s; }
          .offer .small-container .row .col-2 .btn:hover {
            background: #563434; }

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }
  .small-container .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555; }
    .small-container .title::after {
      content: '';
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .small-container .row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .small-container .row .col-4 {
      flex-basis: 22%;
      padding: 10px;
      min-width: 150px;
      margin-bottom: 50px;
      transition: transform 0.5s; }
      .small-container .row .col-4:hover {
        transform: translateY(-5px); }
      .small-container .row .col-4 a {
        padding: 5px 0px 5px 0px;
        text-decoration: none; }
      .small-container .row .col-4 img {
        padding: 5px 0px 5px 0px;
        width: 100%; }
      .small-container .row .col-4 h4 {
        padding: 5px 0px 5px 0px;
        color: #555;
        font-weight: normal; }
      .small-container .row .col-4 p {
        padding: 5px 0px 5px 0px;
        font-size: 14px;
        cursor: default; }
      .small-container .row .col-4 .rating {
        padding: 5px 0px 5px 0px; }
        .small-container .row .col-4 .rating .fa {
          color: #ff523b;
          cursor: pointer; }
      .small-container .row .col-4 .order-btn {
        padding: 5px 0px 5px 0px;
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        padding-top: 10px;
        color: #ff523b;
        text-align: center;
        background-color: black;
        border: solid 2px white;
        border-radius: 8px; }

.testimonial .small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }
  .testimonial .small-container .row {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .testimonial .small-container .row .col-3 {
      flex-basis: 25%;
      min-width: 250px;
      text-align: center;
      margin: 10px 10px;
      padding: 40px 20px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.5; }
      .testimonial .small-container .row .col-3:hover {
        transform: translateY(-10px); }
      .testimonial .small-container .row .col-3 .fa-quote-left {
        font-size: 34px;
        color: #ff523b; }
      .testimonial .small-container .row .col-3 img {
        width: 120px;
        margin-top: 20px;
        border-radius: 50%; }
      .testimonial .small-container .row .col-3 .rating .fa {
        color: #ff523b; }
      .testimonial .small-container .row .col-3 a {
        text-decoration: none; }
      .testimonial .small-container .row .col-3 p {
        font-size: 12px;
        margin: 12px 0;
        color: #777; }
      .testimonial .small-container .row .col-3 h3 {
        font-weight: 600;
        font-size: 16px;
        color: #555; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none; }

.rating-stars ul > li.star {
  display: inline-block; }

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */ }

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #FFCC36; }

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #FF912C; }
