<!-- categories -->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <a href="#">
                    <img src="~/img/categories/2.jpg">
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="~/img/categories/1.jpg">
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="~/img/categories/3.jpg">
                </a>
            </div>
        </div>
    </div>
</div>