<div class="container">
    <div class="row">
        <div class="col-2">
            <h1 id="container-title">
                Кроссовки треккинговые <br> новая мода</h1>
            <p id="container-paragraf">
                обрабатывать водоотталкивающей пропиткой,
                протирать <br> влажной тряпкой , чистить мягкой щёткой 
            </p>
            <a href="#" class="btn">Увидеть больше &#8594;</a>
        </div>
        <div class="col_2">
            <img src="~/img/background/2.png" id="container-img">
        </div>
    </div>
</div>