<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/img/exclusive/1.png" id="offer-img">
            </div>
            <div class="col-2">
                <p>Умные часы Amazfit GTS (черный)</p>
                <h1 id="offer-title">Умные часы 4</h1>
                <small id="offer-paragraf">
                    Часы Amazfit GTS оборудованы высококачественным экраном 
                    с высоким разрешением, плотность пикселей 341 
                </small>
                <a href="#" class="btn">Увидеть больше&#8594;</a>
            </div>
        </div>
    </div>
</div>